<aside class="aside  typeset  aside--{{ include.align | default: 'left' }}">

  {% if page.layout == "page" or page.layout == "home" or page.layout == "post" or page.layout == "posts"%}
    <section class="section  section--description">
        {% if page.author == 'marie' %}{% include marie-site-aside.html %}
        {% else %}{% include marie-site-aside.html %}
        {% endif %}
    </section>
  {% elsif page.layout == "categories" %}
  <section class="section  section--description">
      {% include marie-site-aside.html %}
      <h3>Index</h3>
      {% include nav-categories.html %}
  </section>

  {% endif %}

  <!-- {% if page.layout == "post" %}  
  <section class="section  section--related-posts">
   {% include post-related.html %}
  </section>
  {% endif %} -->

</aside>
